.container{
    display: flex;
    padding-Top: 50px;
    padding-Bottom: 50px;
    margin: 0 auto;
}
.row{
    display: flex;
    --bs-gutter-x: 30rem !important;
    margin: 0 auto;
}
.col_md_4 {
    width: 300px;
}