/* entire container, keeps perspective */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.flip_container {
    perspective: 1000px;
    border:2px solid rgba(0,0,0,0) !important;
    width: 300px !important;
    height: 300px;
    border: solid red;
}

/* front pane, placed above back */
.front{
    z-index:2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    width: 300px;
    height: 300px;
    border: solid red;
    padding: 10px;
    background:url('/public/logo512.png');

}
/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    width: 300px;
    height: 300px;
    border: solid red;
    padding: 10px;

}

/* flip the pane when hovered */
.flip_container:hover .flipper, .flip_container.hover .flipper {
    transform: rotateY(180deg);
}

.flip_container, .front, .back {
    width: 300px;
    height: 300px;
    /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper {
    transition: 0.6s;
    /* 하위요소에 3D 좌표값 지정 */
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back{
    position: absolute;
    backface-visibility:hidden;
}